<div class="flex justify-center items-center space-x-6 pt-2">
  <button class="rounded-full hover:bg-slate-900 hover:ring-1 ring-slate-400  focus:outline-none transition duration-1000">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 m-2 hover:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
    </svg>
  </button>

  <button class="rounded-full bg-slate-50 hover:bg-slate-900 hover:ring-1 ring-slate-400 focus:outline-none transition duration-1000">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-slate-500 m-2 hover:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
  </button>

  <button (click)="pagination(1)" class="rounded-full bg-slate-50 hover:bg-slate-900 hover:ring-1 ring-slate-400  focus:outline-none transition duration-1000">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-slate-500 m-2 hover:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg>
  </button>

  <button class="rounded-full hover:bg-slate-900 hover:ring-1 ring-slate-400  focus:outline-none transition duration-1000">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 m-2 hover:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
    </svg>
  </button>
</div>
